<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

    <th:block layout:fragment="content">
        <main id="content">
            <h2>게시판</h2>
            <table class="table table-striped">
                <colgroup>
                    <col style="width:7%">
                    <col style="" class="truncate">
                    <col style="width:12%">
                    <col style="width:12%">
                    <col style="width:7%">
                    <col style="width:7%">
                </colgroup>

                <thead>
                <tr>
                    <td colspan="3" class="text-start">
                        <div class="d-flex align-items-center gap-3">
                            <select class="form-select" style="width: 120px" id="findtype" name="findtype">
                                <option value="title" selected>제목</option>
                                <option value="userid">작성자</option>
                                <option value="contents">내용</option></select>
                            <input class="form-control" style="width: 250px" id="findkey" name="findkey" th:value="${param.findkey}">
                            <button class="btn btn-success" id="findbtn"><i class="fa-solid fa-magnifying-glass"></i> 검색</button>
                        </div>
                    </td>
                    <td colspan="3"  class="text-end">
                        <button type="button" class="btn btn-primary" id="newbdbtn"
                            sec:authorize="isAuthenticated()">
                                <i class="fas fa-pen"></i> 글쓰기</button>
                    </td>
                </tr>
                <tr class="table-light">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>추천</th>
                    <th>조회</th>
                </tr>
                </thead>

                <tbody id="boardlistbody">
                </tbody>

                <tfoot>
                    <tr><td colspan="6">
                        <ul class="pagination">
                            <!-- 현재 페이지가 1/10보다 '이전' 링크를 표시 -->


<!--                            <th:block th:each="i : ${#numbers.sequence(bdsdto.stblk, bdsdto.edblk)}">-->
<!--                                &lt;!&ndash; i 와 cpg가 일치하지 않으면 평범하게 출력 &ndash;&gt;-->

<!--                            </th:block>-->

                        </ul>
                    </td></tr>
                </tfoot>
            </table>
        </main>
    </th:block>

    <th:block layout:fragment="script">
        <script src="/js/board.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const url = new URL(window.location.href);
                const findtype = url.searchParams.get('findtype');
                const findkey = url.searchParams.get('findkey');
                const cpg = (url.searchParams.get('cpg') === null) ? 1: url.searchParams.get('cpg');

                //`/api/v1/board/list?cpg=${cpg}`
                const fetchurl = (findkey === null) ? `/api/v1/board/list?cpg=${cpg}` :
                        `/api/v1/board/find?findtype=${findtype}&findkey=${findkey}&cpg=${cpg}`;

                fetch(fetchurl, {
                    headers: {'Accept': 'application/json'}
                }).then(response => response.json())
                .then(data => {
                    //console.log(data);
                    loadBoardList(data);
                    loadBoardPgn(data, findtype, findkey);
                }).catch(error => {
                    console.error('데이터 불러오는 중 오류발생!!');
                });
            });

            const loadBoardList = (data) => {
                const tableBody = document.querySelector('#boardlistbody');
                if (!Array.isArray(data.bdlist) || data.bdlist.length === 0) {
                    tableBody.innerHTML = '<tr><td colspan="6">게시글이 없어요!!</td></tr>';
                    return;
                }

                data.bdlist.forEach(bd => {
                    const row = `
                    <tr>
                        <td>${bd.bno}</td>
                        <td><a href="/board/view?bno=${bd.bno}">${bd.title}</a></td>
                        <td>${bd.userid}</td>
                        <td>${bd.regdate.substring(0,10)}</td>
                        <td>${bd.thumbs}</td>
                        <td>${bd.views}</td>
                    </tr>
                    `;
                    tableBody.innerHTML += row;
                });
            };

            const loadBoardPgn = (data, findtype, findkey) => {
                const pgnBody = document.querySelector('.pagination');


                const pglink = (findkey === null) ?
                    '/board/list?cpg=' : `/board/find?findtype=${findtype}&findkey=${findkey}&cpg=`;

                if (data.cpg > 1) {
                    pgnBody.innerHTML += `<li class="page-item">
                        <a href="${pglink}${data.cpg - 1}" class="page-link">이전</a></li>`
                }

                for (let i = data.stblk; i <= data.edblk; ++i) {
                    let active = (i === data.cpg) ? 'page-item active':'page-item';
                    pgnBody.innerHTML += `<li class="${active}">
                            <a href="${pglink}${i}" class="page-link">${i}</a></li>`
                }

                if (data.cpg < data.cntpg) {
                    pgnBody.innerHTML += `<li class="page-item" >
                        <a href="${pglink}${data.cpg + 1}" class="page-link">다음</a></li>`
                }
            };

        </script>
        <script>
            let findbtn = document.querySelector("#findbtn");
            let findtype = document.querySelector("#findtype");
            let findkey = document.querySelector("#findkey");
            let newbdbtn = document.querySelector("#newbdbtn");

            findbtn.addEventListener('click', (e) => {
                if (findkey.value === '') {
                    alert('검색어를 입력하세요!!');
                } else {
                    let params = `findtype=${findtype.value}&findkey=${findkey.value}`;
                    location.href = `/board/find?${params}`;
                }
            });

            // 옵셔널 체이닝
            newbdbtn?.addEventListener('click', (e) => {
                location.href = `/board/write`;
            });
        </script>
    </th:block>

</html>