<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head><!-- layout.html의 head - styles 태그에 자동 삽입 -->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
        <style>
            .error-message {
                color: #dc3545;
                font-size: 0.95em;
                margin: 10px 0;
                /*display: none;*/
            }
            #boardfrm {
                max-width: 750px;
                margin: 100px auto;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                border-radius: 8px;
            }
        </style>
    </head>

    <th:block layout:fragment="content">
        <main id="content">
            <h2>게시판 글쓰기</h2>
            <form name="boardfrm" id="boardfrm" method="post" novalidate>

                <div class="form-floating my-2">
                    <input type="text" name="userid" id="userid" class="form-control"
                       placeholder="아이디" readonly value="abc123">
                    <label for="userid" class="form-label">아이디</label>
                </div>

                <div class="form-floating my-2">
                    <input type="text" name="title" id="title" class="form-control"
                           placeholder="제목" required>
                    <label for="title" class="form-label">제목</label>
                </div>

                <div class="form-floating my-2">
                    <textarea name="contents" id="contents" class="form-control h-100"
                          rows="10" placeholder="본문글" required></textarea>
                    <label for="contents" class="form-label">본문글</label>
                </div>

                <div class="my-2 d-flex justify-content-center">
                    <div class="g-recaptcha" id="recaptcha" th:data-sitekey="${sitekey}"></div>
                </div>

                <div class="my-2 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-sharp fa-solid fa-file-signature"></i> 입력완료</button>
                    <button type="reset" class="btn btn-danger">
                        <i class="fa-sharp fa-solid fa-eraser"></i> 다시입력</button>
                </div>
            </form>
            <!-- tinymce html editor -->
            <div>
                <textarea id="mytextarea">Hello, World!</textarea>
            </div>
        </main>
    </th:block>

    <th:block layout:fragment="script">
        <script src="/js/board.js"></script>
        <script>
            const boardfrm = document.querySelector('#boardfrm');

            boardfrm.addEventListener("submit", (e) => {
                e.preventDefault(); // submit 버튼 기능 중지

                clearErrorMessages();  // 에러메세지 초기화

                // 입력 요소 유효성 검사
                let isValid = validBoard(boardfrm);

                if (isValid) submitBoardfrm(boardfrm);
            });
        </script>
        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>
    </th:block>
</html>