<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <nav role="navigation" class="navbar navbar-light bg-light" th:fragment="nav">
        <ul class="nav space-between">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

            <li class="nav-item" th:if="${session.loginUser == null}">
                <a href="/member/join" class="nav-link">회원가입</a></li>
            <li class="nav-item" th:if="${session.loginUser != null}">
                <a href="#" class="nav-link">회원가입</a></li>

            <li class="nav-item" th:if="${session.loginUser == null}">
                <a href="/member/login" class="nav-link">로그인</a></li>
            <li class="nav-item" th:if="${session.loginUser != null}">
                <a href="/member/logout" class="nav-link">로그아웃</a></li>

            <li class="nav-item"><a href="/board/list" class="nav-link">게시판</a></li>
            <li class="nav-item"><a href="/gallery/list" class="nav-link">갤러리</a></li>
            <li class="nav-item"><a href="/member/myinfo" class="nav-link">회원정보</a></li>
        </ul>
    </nav>
</html>