<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <nav role="navigation" class="navbar navbar-light bg-light" th:fragment="nav">
        <ul class="nav space-between">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/" class="nav-link">회원가입</a></li>
            <li class="nav-item"><a href="/" class="nav-link">로그인</a></li>
            <li class="nav-item"><a href="/" class="nav-link">게시판</a></li>
            <li class="nav-item"><a href="/" class="nav-link">갤러리</a></li>
            <li class="nav-item"><a href="/" class="nav-link">회원정보</a></li>
        </ul>
    </nav>
</html>