<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <style>
            .error-message {
                color: #dc3545;
                font-size: 0.95em;
                margin: 10px 0;
                display: none;
            }
            #joinfrm {
                max-width: 450px;
                margin: 100px auto;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                border-radius: 8px;
            }
        </style>
    </head>

    <th:block layout:fragment="content">
        <main id="content">
            <h2>회원가입</h2>
            <form name="joinfrm" id="joinfrm" method="post" novalidate>

                <div class="form-floating my-2">
                    <input type="text" name="userid" id="userid" class="form-control"
                       placeholder="아이디" required minlength="6" maxlength="18">
                    <label for="userid" class="form-label">아이디</label>
                    <div id="useridError" class="error-message"></div>
                </div>

                <div class="form-floating my-2">
                    <input type="password" name="passwd" id="passwd" class="form-control"
                           placeholder="비밀번호" required minlength="6" maxlength="18">
                    <label for="passwd" class="form-label">비밀번호</label>
                    <div id="passwdError" class="error-message"></div>
                </div>

                <div class="form-floating my-2">
                    <input type="password" name="repasswd" id="repasswd" class="form-control"
                           placeholder="비밀번호 확인" required minlength="6" maxlength="18">
                    <label for="repasswd" class="form-label">비밀번호 확인</label>
                    <div id="repasswdError" class="error-message"></div>
                </div>

                <div class="form-floating my-2">
                    <input type="text" name="name" id="name" class="form-control"
                           placeholder="이름" required>
                    <label for="name" class="form-label">이름</label>
                    <div id="nameError" class="error-message"></div>
                </div>

                <div class="form-floating my-2">
                    <input type="email" name="email" id="email" class="form-control"
                           placeholder="이메일" required>
                    <label for="email" class="form-label">이메일</label>
                    <div id="emailError" class="error-message"></div>
                </div>

                <div class="my-2 d-flex justify-content-center">
                    <img src="/image/captcha.png">
                </div>

                <div class="my-2 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-sharp fa-solid fa-file-signature"></i> 입력완료</button>
                    <button type="reset" class="btn btn-danger">
                        <i class="fa-sharp fa-solid fa-eraser"></i> 다시입력</button>
                </div>
            </form>
        </main>
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const joinfrm = document.querySelector('#joinfrm');

            const errorMessages = [
                '아이디는 소문자로 시작하고, 영문자와 숫자만 사용 가능합니다 (최소 6자 ~ 최대 18자)',
                '비밀번호는 영문 대소문자, 숫자, 특수문자를 포함해야 합니다 (최소 6자 ~ 최대 18자)',
                '비밀번호가 일치하지 않습니다',
                '이름은 한글 또는 영문자만 사용 가능합니다',
                '올바른 이메일 형식이 아닙니다',
                '자동가입방지를 확인하세요'];
            const patterns = [
                /^[a-z][a-z0-9]{5,17}$/,
                /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,18}$/,
                /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,18}$/,
                /^[가-힣]{2,5}|[a-zA-Z]{2,10}$/,
                /^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+$/
            ];

            joinfrm.addEventListener("submit", (e) => {
                e.preventDefault(); // submit 버튼 기능 중지

                let isValid = true;
                // 모든 error-message 요소의 내용을 초기화
                document.querySelectorAll(".error-message")
                    .forEach(error => error.textContent = '');

                // 회원가입 폼안의 모든 input 요소 수집
                const inputs = joinfrm.querySelectorAll('input');
                inputs.forEach((input, idx) => {
                    if (!input.checkValidity()) { // html5 태그를 이용한 유효성 검사
                        let error = document.getElementById(`${input.id}Error`);
                        error.textContent = errorMessages[idx];
                        error.style.display = 'block';
                        isValid = false;
                    }
                });

                if (isValid) joinfrm.submit();
            });
        </script>
    </th:block>
</html>