<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <th:block layout:fragment="content">
        <main id="content">
            <h2>로그인</h2>
            <form name="loginfrm" id="loginfrm" method="post">
                <div>
                    <label for="userid">아이디</label>
                    <input type="text" name="userid" id="userid">
                </div>

                <div>
                    <label for="passwd">비밀번호</label>
                    <input type="password" name="passwd" id="passwd">
                </div>

                <div>
                    <button type="submit">로그인</button>
                    <button type="button">비밀번호찾기</button>
                </div>
            </form>
        </main>
    </th:block>

</html>