<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.zzyzzy.semiprojectv1.repository.GalleryRepository">

    <insert id="insertGallery"
            parameterType="com.example.zzyzzy.semiprojectv1.domain.NewGalleryDTO"
            useGeneratedKeys="true" keyProperty="ggno">
        insert into gallerys (title,userid,contents,simgname)
        values (#{title},#{userid},#{contents},#{simgname})
    </insert>

</mapper>
